.locations {
  .location {
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    &-card {
      &-actions {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: var(--service-color);
        &-item {
          &:hover,
          :focus,
          :active {
            background-color: transparent !important;
          }
        }
      }
    }

    &-details {
      width: 100%;
      height: 30%;
      background-color: var(--service-hover-color);
      color: white;
      transition-property: background-color;
      transition-duration: 400ms;
      .location-address {
        width: 46%;
      }
      &:hover {
        background-color: var(--service-color);
        color: var(--main-intro-color);
      }
    }
  }
}
