<div class="container footer">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a
          href="mailto: info@physio-on.com.au"
          class="nav-link p-0 text-muted"
          ><i class="fa-solid fa-envelope"></i> info@physio-on.com.au</a>
          </li>
          <li class="nav-item mb-2">
            <a
            href="mailto: info@physio-on.com.au"
            class="nav-link p-0 text-muted"
            ><i class="fa-solid fa-mobile"></i> 0401619596</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Hours</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <span class="text-muted">Monday - Friday: 7am - 7pm</span>
          </li>
          <li class="nav-item mb-2">
            <span class="text-muted">Saturday - Sunday: Closed</span>
          </li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <h5>Address</h5>
        <a
          href="https://goo.gl/maps/rfyYnyjdp4zd7bXC8"
          class="nav-link p-0 text-muted"
          ><i class="fa-solid fa-location-dot"></i> 340 Princes Hwy, Officer
          3809</a
        >
      </div>
    </div>

    <div
      class="d-flex contact flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled contact-icons d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="https://goo.gl/maps/rfyYnyjdp4zd7bXC8"
            ><i class="fa-solid fa-location-dot"></i
          ></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
