<div class="container font-300 footer">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Contacts</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a
              href="mailto: info@physio-on.com.au"
              class="nav-link p-0 text-muted"
              ><i class="fa-solid fa-envelope"></i> info@physio-on.com.au</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="tel:0401619596" class="nav-link p-0 text-muted"
              ><i class="fa-solid fa-mobile"></i> 0401619596</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Working Hours</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <span class="text-muted">Monday - Friday: 9am - 6pm</span>
          </li>
          <li class="nav-item mb-2">
            <span class="text-muted">Saturday: 9am - 3pm</span>
          </li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <h5>Locations</h5>
        <a
          *ngFor="let location of locationsService.locations"
          [href]="location.location"
          target="_blank"
          class="nav-link p-0 text-muted"
          ><i class="fa-solid fa-location-dot"></i>
          {{ location.address | address }}</a
        >
      </div>
    </div>

    <div
      class="d-flex contact flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>
        &copy; 2022 Physio On. All rights reserved.
        <a
          href="mailto:ahmedmaslooh17@gmail.com"
          class="text-decoration-none text-success"
          >Website by Maslooh</a
        >
      </p>
      <ul class="list-unstyled contact-icons d-flex">
        <li class="ms-3">
          <a class="link-dark" href="#"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
