.news {
  &-card {
    &-image {
      position: relative;
      height: 100%;
      &-actions {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: var(--service-color);
        &-item {
          &:hover,
          :focus,
          :active {
            background-color: transparent !important;
          }
        }
      }
      .img-fluid {
        height: 100%;
        max-height: 100%;
      }
    }
    .left-actions {
      .btns {
        right: unset !important;
        left: 0px;
      }
    }
    &-container {
      height: 45vh;
      max-height: 45vh;
    }
    &-body {
      overflow-y: hidden;
    }
  }

  &-paginator {
    background: transparent !important;
    .p-dropdown {
      @extend .news-paginator;
      border: none;
    }
  }
}
