.news {
  &-card {
    &-image {
      position: relative;
      &-actions {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: var(--service-color);
        &-item {
          &:hover,
          :focus,
          :active {
            background-color: transparent !important;
          }
        }
      }
      .img-fluid {
        height: 50vh;
      }
    }
    .left-actions {
      .btns {
        right: unset !important;
        left: 0px;
      }
    }
    .card-body {
      height: 50vh;
      overflow-y: hidden;
      .card-text {
        overflow-y: hidden;
      }
    }
    @media (max-width: 768px) {
      .img-fluid {
        height: 40vh;
      }
      .card-body {
        height: 35vh;
      }
    }
  }

  &-paginator {
    background: transparent !important;
    .p-dropdown {
      @extend .news-paginator;
      border: none;
    }
  }
}
