.news {
  &-image {
    position: relative;
    &-actions {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: var(--service-color);
      &-item {
        &:hover,
        :focus,
        :active {
          background-color: transparent !important;
        }
      }
    }
  }

  &-paginator {
    background: transparent !important;
    .p-dropdown {
      @extend .news-paginator;
      border: none;
    }
  }
}
