<div class="p-5 font-300 section position-relative news" id="news">
  <h1 *ngIf="hasMoreNewsBtn" class="card-title section-title my-4 ps-3">
    NEWS & ARTICLES
    <a
      pButton
      *ngIf="authService.isLoggedIn()"
      pRipple
      type="button"
      icon="pi pi-plus"
      routerLink="news/add"
      class="p-button-rounded text-decoration-none p-button-success text-dark p-button-text"
    ></a>
  </h1>
  <div
    [ngClass]="{
      'no-data': newsList.length == 0,
      'vertical-center': !hasMoreNewsBtn
    }"
  >
    <div
      *ngIf="
        newsList.length == 0;
        then noData;
        else hasMoreNewsBtn ? homeNews : newsCard
      "
    ></div>
    <div class="vertical-center" *ngIf="hasMoreNewsBtn">
      <a
        pButton
        pRipple
        type="button"
        label="More News"
        routerLink="news/list"
        *ngIf="newsList.length > 0"
        class="p-button-rounded p-button-secondary p-button-text text-decoration-underline text-dark flex-row"
      ></a>
    </div>
    <p-paginator
      *ngIf="hasPagination && newsList.length > 0"
      [rows]="3"
      styleClass="news-paginator pb-0"
      [totalRecords]="totalNewsCount"
      [showPageLinks]="false"
      [showJumpToPageDropdown]="true"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>

<ng-template let-newsItem="newsItem" #actions>
  <div *ngIf="authService.isLoggedIn()" class="news-card-actions btns">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-pencil"
      (click)="navigateToEdit(newsItem.id)"
      class="p-button-rounded news-image-actions-item p-button-success text-dark p-button-text"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-trash"
      (click)="showDialog(newsItem)"
      class="p-button-rounded news-image-actions-item p-button-success text-dark p-button-text"
    ></button></div
></ng-template>

<ng-template #noData>
  <h2 class="text-muted text-center">No news for now.</h2>
</ng-template>

<ng-template #newsCard>
  <div
    *ngFor="let news of newsList | slice: paginateStart:paginateEnd"
    class="card news-card col-12 col-md-11 mx-4 mb-4"
  >
    <div class="news-card-container row g-0">
      <div *ngIf="news.image" class="col-md-5 news-card-image vertical-center">
        <img [src]="news.image" class="img-fluid" alt="..." />
      </div>
      <div
        class="{{
          news.image ? 'col-md-7' : 'col-12'
        }} news-card-body position-relative h-100"
      >
        <div class="card-body">
          <h5 class="card-title news-card-title">
            {{ news.title | titlecase }}
          </h5>
          <div class="text-muted">
            {{ news.lastModified.toDate() | date }}
          </div>
          <div
            class="card-text ql-editor"
            [innerHtml]="news.content | safeHTML"
          ></div>
          <app-read-more route="news/{{ news.id }}"></app-read-more>
        </div>
      </div>
    </div>
    <ng-container
      *ngTemplateOutlet="
        actions;
        context: {
          newsItem: news
        }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template #loading>
  <div class="card skeleton news-card col-12 col-md-11 mx-4 mb-4">
    <div class="news-card-container row g-0">
      <div
        *ngIf="window.innerWidth <= 768"
        class="col-md-5 news-card-image vertical-center"
      >
        <div class="col-12 h-100">
          <p-skeleton height="100%"></p-skeleton>
        </div>
      </div>
      <div class="col-md-7 news-card-body position-relative h-100">
        <div class="card-body">
          <p-skeleton styleClass="mb-3" width="40%" height="1rem"></p-skeleton>
          <p-skeleton styleClass="mb-2" width="85%" height="1rem"></p-skeleton>
          <p-skeleton styleClass="mb-2" width="90%" height="1rem"></p-skeleton>
          <p-skeleton styleClass="mb-2" width="90%" height="1rem"></p-skeleton>
          <p-skeleton styleClass="mb-2" width="90%" height="1rem"></p-skeleton>
          <p-skeleton styleClass="mb-2" width="90%" height="1rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #homeNews>
  <p-carousel
    [value]="newsList"
    [numVisible]="3"
    [numScroll]="1"
    class="news-home"
    [ngClass]="{ 'news-home-center': newsList.length <= 2 }"
    [circular]="false"
    [autoplayInterval]="3000"
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-news pTemplate="item">
      <div class="card news-card mb-4">
        <div class="news-card-container row g-0">
          <div *ngIf="news.image" class="news-card-image vertical-center">
            <img [src]="news.image" class="img-fluid" alt="..." />
          </div>
          <div class="col-12 news-card-body position-relative h-100">
            <div
              class="card-body"
              [ngClass]="{
                'news-home-noImg ': !news.image
              }"
            >
              <h5 class="card-title news-card-title">
                {{ news.title | titlecase }}
              </h5>
              <div class="text-muted">
                {{ news.lastModified.toDate() | date }}
              </div>
              <div
                class="card-text ql-editor"
                [innerHtml]="news.content | safeHTML"
              ></div>
              <app-read-more route="news/{{ news.id }}"></app-read-more>
            </div>
          </div>
        </div>
        <ng-container
          *ngTemplateOutlet="
            actions;
            context: {
              newsItem: news
            }
          "
        ></ng-container>
      </div>
    </ng-template>
  </p-carousel>
</ng-template>

<p-confirmDialog
  acceptButtonStyleClass="p-button-danger"
  rejectButtonStyleClass="p-button-outlined p-button-secondary"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
