/* You can add global styles to this file, and also import other style files */
body {
  --main-intro-color: rgba(33, 33, 33, 1);
  --link-color: rgba(0, 0, 0, 0.66);
  --active-link-color: #3fa03a;
  --secondary-background: #f0f0f0;
  --service-color: #ffffff9a;
  --service-hover-color: #0000009a;
  --logo-dark-green: #2c7028;
  --logo-light-green: #3fa03a;
  font-family: Lato;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-button:focus {
  box-shadow: none !important;
}

.section-title {
  font-weight: 300;
}

.secondaryBg {
  background-color: var(--secondary-background);
}

@media (max-width: 768px) {
  .section {
    padding: 1rem 0px !important;
  }
}

.font-300 {
  font-weight: 300 !important;
}
