/* You can add global styles to this file, and also import other style files */
body {
  --main-intro-color: rgba(33, 33, 33, 1);
  --link-color: rgba(0, 0, 0, 0.55);
  --active-link-color: rgba(0, 0, 0, 0.9);
  --secondary-background:#f0f0f0;
  --service-color:#ffffff9a;
  --service-hover-color:#0000009a;
  font-family: Lato;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
