.partners {
  .provider {
    width: 100%;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-position: center;
  }
}
