<app-booking-button></app-booking-button>

<div
  class="home"
  data-bs-spy="scroll"
  data-bs-target="#navBar"
  data-bs-offset="0"
  data-bs-smooth-scroll="true"
>
  <div class="card intro text-bg-dark" id="intro">
    <div class="intro-img card-img"></div>
    <div class="intro-logo vertical-center card-img-overlay">
      <img
        class="intro-logo-img"
        src="assets/logo 1 copy.PNG"
        alt="Physio-on"
      />
      <!-- <h3 class="intro-logo-text card-text">Get started on recovering!</h3> -->
    </div>
  </div>
  <div class="card about" id="about">
    <div class="row g-0">
      <div class="col-md-5 md">
        <div class="about-img img-fluid"></div>
      </div>
      <div class="col-md-7 about-text d-flex align-items-center">
        <div class="card-body">
          <h1 class="card-title section-title mb-4 mt-md-0 mt-4">ABOUT US</h1>
          <p class="card-text">
            We are a multidisciplinary group with clinics located centrally
            around Victoria's Cardinia and casey areas. We aim to give you the
            treatment you deserve using a holistic approach to consider all
            factors contributing to individual complaints, obtain an accurate
            diagnosis, and design treatment plans according to your needs and
            goals. At physio on, our therapists are highly skilled, certified
            and recognised by all major providers and insurance companies. We
            are also very proud to work alongside some of the most renowned
            consultants.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 services secondaryBg" id="services">
    <h1 class="card-title section-title my-4 ps-3">SERVICES</h1>
    <div class="row g-0">
      <div
        *ngFor="let service of services; odd as odd; last as last"
        class="card {{
          last ? 'mb-3' : ''
        }} flex-row flex-md-column col-12 col-md-3 services-card "
      >
        <div
          *ngIf="!odd"
          [ngStyle]="{
            'background-image': 'url(assets/' + service.image + ')'
          }"
          class="services-img img-fluid col-md-12 col-6"
        ></div>
        <div class="services-content overflow-hidden card-body position-relative bg-white">
          <h4 class="card-title services-card-title">
            {{ service.title | titlecase }}
          </h4>
          <p class="services-content-text card-text">
            {{ service.content.intro }}
          </p>
          <div class="services-content-read-more vertical-center position-absolute">
            <button
              pButton
              pRipple
              type="button"
              label="Read More"
              class="p-button-outlined p-button-rounded btn p-button-secondary m-3"
            ></button>
          </div>
        </div>
        <div
          *ngIf="odd"
          class="services-img img-fluid col-md-12 col-6"
          [ngStyle]="{
            'background-image': 'url(assets/' + service.image + ')'
          }"
        ></div>
      </div>
    </div>
  </div>
  <div class="p-5 news" id="news">
    <h1 class="card-title section-title my-4 ps-3">NEWS & ARTICLES</h1>
    <div *ngFor="let news of newsList; odd as odd" class="card news-card mb-4">
      <div class="row g-0">
        <div *ngIf="odd || window.innerWidth <= 768" class="col-md-5">
          <img src="assets/news.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h3 class="card-title news-card-title">
              {{ news.title | titlecase }}
            </h3>
            <p class="card-text">
              {{ news.content }}
            </p>
          </div>
        </div>
        <div *ngIf="!odd && window.innerWidth > 768" class="col-md-5">
          <img src="assets/news.jpg" class="img-fluid" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 clinics secondaryBg" id="locations">
    <h1 class="card-title section-title my-4 ps-3">OUR LOCATIONS</h1>
    <div class="row g-0">
      <div
        class="col-lg-4 col-md-6 col-sm-12 p-3"
        *ngFor="let clinic of clinics"
      >
        <div class="clinic vertical-center justify-content-end">
          <div class="clinic-name vertical-center">
            {{ clinic | titlecase }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 partners" id="partners"></div>
</div>
