<form
  [formGroup]="signInForm"
  (ngSubmit)="signIn(signInForm.value)"
  class="p-0 p-md-4"
>
  <div class="text-center mb-3">
    <img src="assets/logo 1 copy.PNG" alt="Image" height="50" class="mb-3" />
  </div>

  <div class="">
    <div class="mb-3">
      <label for="email1" class="mb-2 form-label">Email</label>
      <input
        id="email1"
        formControlName="email"
        placeholder="Email"
        required
        type="email"
        pInputText
        class="form-control"
      />
      <small
        class="text-danger"
        *ngIf="signInForm.get('email')?.hasError('email')"
      >
        Please enter a valid email.
      </small>
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label mb-2">Password</label>
      <input
        id="password1"
        formControlName="password"
        required
        type="password"
        pInputText
        class="form-control succ"
        placeholder="Password"
      />
      <small class="text-danger" *ngIf="signInError">
        Wrong email or password.
      </small>
    </div>

    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="d-flex align-items-center">
        <p-checkbox
          id="rememberme"
          [binary]="true"
          styleClass="me-2"
        ></p-checkbox>
        <label for="rememberme1">Remember me</label>
      </div>
      <a class="text-decoration-none fw-bold">Forgot password?</a>
    </div>

    <button
      [disabled]="!signInForm.valid"
      pButton
      pRipple
      label="Sign In"
      icon="pi pi-user"
      class="w-100 p-button-success"
      type="submit"
    ></button>
  </div>
</form>
